{
	"experimentalTernaries": true,
	"semi": false,
	"useTabs": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"arrowParens": "avoid",
	"proseWrap": "always",
	"plugins": ["prettier-plugin-tailwindcss"]
}
